streamlit
streamlit_navigation_bar
streamlit_lottie
pandas
numpy
scikit-learn
google-generativeai
plotly
supabase
python-dotenv
shap
xgboost
requests
typing
streamlit_shap
matplotlib
imbalanced-learn==0.12.2